In [3]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

for test in high_school_types:
    print(test)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [7]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [8]:
# Add the Pandas dependency.
import pandas as pd

In [9]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [10]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [11]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [12]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [13]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [14]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [18]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["school_name"] = school_name
schools_df["type_of_school"] = type_of_school

# Print the DataFrame.
schools_df

   School ID            school_name type_of_school
0          0      Huang High School       District
1          1   Figueroa High School       District
2          2    Shelton High School        Charter
3          3  Hernandez High School       District
4          4    Griffin High School        Charter

In [19]:
schools_df.columns

Index(['School ID', 'school_name', 'type_of_school'], dtype='object')

In [20]:
schools_df.index

RangeIndex(start=0, stop=5, step=1)

In [21]:
schools_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [22]:
# A dictionary of high schools
Skill_test_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Wilson High School", "type": "Charter"},
                    {"School ID": 5, "school_name":"Cabrera High School", "type": "Charter"},
                    {"School ID": 6, "school_name":"Bailey High School", "type": "Charter"},
                    {"School ID": 7, "school_name":"Holden High School", "type": "Charter"},
                    {"School ID": 8, "school_name":"Pena High School", "type": "Charter"},
                    {"School ID": 9, "school_name":"Wright High School", "type": "Charter"},
                    {"School ID": 10, "school_name":"Rodriguez High School", "type": "Charter"},
                    {"School ID": 11, "school_name":"Johnson High School", "type": "Charter"},
                    {"School ID": 12, "school_name":"Ford High School", "type": "Charter"},
                    {"School ID": 13, "school_name":"Griffin High School", "type": "Charter"},
                    {"School ID": 14, "school_name":"Thomas High School", "type": "Charter"}]

In [23]:
skilltest_dict_df = pd.DataFrame(Skill_test_dicts)
skilltest_dict_df

    School ID            school_name      type
0           0   Huang High    School  District
1           1   Figueroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4     Wilson High School   Charter
5           5    Cabrera High School   Charter
6           6     Bailey High School   Charter
7           7     Holden High School   Charter
8           8       Pena High School   Charter
9           9     Wright High School   Charter
10         10  Rodriguez High School   Charter
11         11    Johnson High School   Charter
12         12       Ford High School   Charter
13         13    Griffin High School   Charter
14         14     Thomas High School   Charter